.navigation {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul li {
    list-style: none;

}

.navigation ul {
    display: flex;
    gap: 20px;

}